.post-container h4,p{
    color: #000;
    padding: 10px;
    margin: 0 !important;
}

.post-container p{
    padding-bottom: 10px;
}

.post-container{
   border-bottom: 1px solid white;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.pagination{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 12px;
    padding-bottom: 20px;
}
.user-heading{
    font-weight: bold;
}

.post-heading{
    margin-top: 4vh;
    margin-bottom: 3vh;
 
  
}
.post-heading h2{
    display: inline-block;
    text-align: center;
    border-bottom: 2px solid crimson;
}
.like-icons-row a{
    color: crimson;
    padding-left: 10px;
    font-size: 20px;
}

.liked{
    color: #000;
}
.disliked{
    color: crimson;
}

.like-icons-row a:hover{
    color: #1c2237;
    transition: 0.5s ease;
}

.like-row {
    text-align: center;
}
.like-row a svg{
    margin-left: 5px;
}

.like-row a button{
    margin-bottom: 10px;
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    padding: 4px 6px;
}

.like-row a button:hover{
    color: white;
    background-color: #1c2237;
    transition: 0.5s ease;
}

.delete-icons-row a{
    color: #1c2237;
    padding-right: 10px;
    font-size: 20px;
}
.delete-icons-row a:hover{
    color: crimson;
    transition: 0.5s ease;
}

.created-at{
    text-align: right;
    padding-right: 20px;
    font-size: 18px;
}

.icons-post{
    margin-right: 2vw;
}

.icons-post:hover{
    cursor: pointer;
    color: crimson;
    transition: 0.3s ease;
}

.post-image img{
    width: 100%;
    object-fit: cover;
}

.post-image:hover{
    cursor: pointer;
}

.icons-row{
    display: flex;
    justify-content: flex-end;
}