.modal-content{
    width: 595px;
}
.main-container{
    width: 40%;
    margin-top: 75px;
}

.input-group input{
    outline: none;
}

.heading{
    color: crimson;
}

.button-search{
    color :white;
    background-color: crimson;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding:0 15px;
}

.form-control:focus{
    border-color: crimson;
    box-shadow: none;
}