.video-section{
    height: 42.35vh;
    background: white;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0;
}
.output-section{
    height: 42.35vh;
    background: white;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}
.video-iframe{
    height: inherit;
}